<div id="content123">
<p class="text" style="color: rgb(0, 148, 205);"><big><big><a name="Admission">Admissions
Criteria </a></big></big></p>
<p>MPH applicants must hold degrees in Medicine, Dental or other
health-related undergraduate degrees. For those who have an
undergraduate degree in other fields, must have at least 2-3 years work
experience in a health field. Potential MPH students must have passed
their undergraduate degree with minimum 50% and must have English
proficiency.<br />
</p>
<br />
<p class="text" style="color: rgb(0, 148, 205);"><big><big>Application
Deadlines </big></big></p>
<p>Normally there will be two dates for entrance to the
programme: For entrance in September 1, 2012, applications must be
received by JSPH latest by August 1, 2012
For entrance in January, 2013, applications must be received by
December 15, 2013. Please contact MPH course coordinator at<span style="color: rgb(188, 80, 46);"> </span><a style="color: rgb(153, 0, 0);" href="mailto:jsph@jnu.edu.in">jsph@jnu.edu.in</a>.
</p>
<br />
<p class="text" style="color: rgb(0, 148, 205);"><big><big>Application
Documents</big></big></p>
Application form can be downloaded from following link. <br />
<a href="http://mph.jodhpurnationaluniversity.com/Application Form-MPH-2013.pdf" target="_blank">http://mph.jodhpurnationaluniversity.com/Application Form-MPH-2013.pdf</a><br />
Please send the JSPH application form duly completed with student’s
signature with attested copy of undergraduate and or postgraduate
degree and other certificates to <span style="color: rgb(153, 0, 0);">jsph@jnu.edu.in</span>.
<br />
<br />
<br />
<p class="text" style="color: rgb(0, 148, 205);"><big><big>Fees</big></big></p>
<table style="border: 1px solid rgb(204, 204, 204); text-align: left; width: 100%; height: 210px; background-color: rgb(57, 92, 153);" border="0" cellpadding="1" cellspacing="1">
<tbody>
<tr style="font-weight: bold; color: white;">
<td style="text-align: center; height: 26px;" colspan="5" rowspan="1">Fee Structure for Master's in
Public Health</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: center; height: 26px; background-color: rgb(216, 216, 216);">Fees
in US$</td>
<td style="font-weight: bold; text-align: center; height: 26px; background-color: rgb(216, 216, 216);">Tuition</td>
<td style="font-weight: bold; text-align: center; height: 26px; background-color: rgb(216, 216, 216);">Examination</td>
<td style="font-weight: bold; text-align: center; height: 26px; background-color: rgb(216, 216, 216);">Application</td>
<td style="font-weight: bold; text-align: center; height: 26px; background-color: rgb(216, 216, 216);">Enrolment</td>
</tr>
<tr>
<td style="height: 23px; background-color: white;">Semester
I</td>
<td style="text-align: center; height: 23px; background-color: white;">1400</td>
<td style="text-align: center; height: 23px; background-color: white;">50</td>
<td style="text-align: center; height: 23px; background-color: white;">30</td>
<td style="text-align: center; height: 23px; background-color: white;">30</td>
</tr>
<tr>
<td style="height: 23px; background-color: white;">Semester
II</td>
<td style="text-align: center; height: 23px; background-color: white;">1400</td>
<td style="text-align: center; height: 23px; background-color: white;">50</td>
<td style="text-align: center; height: 23px; background-color: white;"></td>
<td style="text-align: center; height: 23px; background-color: white;"></td>
</tr>
<tr>
<td style="height: 22px; background-color: white;">Semester
III</td>
<td style="text-align: center; height: 22px; background-color: white;">1400</td>
<td style="text-align: center; height: 22px; background-color: white;">50</td>
<td style="text-align: center; height: 22px; background-color: white;"></td>
<td style="text-align: center; height: 22px; background-color: white;"></td>
</tr>
<tr>
<td style="height: 22px; background-color: white;">Semester
IV</td>
<td style="text-align: center; height: 22px; background-color: white;">1400</td>
<td style="text-align: center; height: 22px; background-color: white;">50</td>
<td style="text-align: center; height: 22px; background-color: white;"></td>
<td style="text-align: center; height: 22px; background-color: white;"></td>
</tr>
<tr>
<td style="height: 23px; background-color: white;">Semester
IV</td>
<td style="text-align: right; height: 23px; background-color: white;" colspan="3" rowspan="1">Degree Processing Charges</td>
<td style="text-align: center; height: 23px; background-color: white;">100</td>
</tr>
<tr style="font-weight: bold;">
<td style="text-align: right; height: 22px; background-color: white;" colspan="4" rowspan="1">Total in US$</td>
<td style="text-align: center; height: 22px; background-color: white;">5960</td>
</tr>
</tbody>
</table>
</div>
