<div id="content123">


<p class="text" style="color: rgb(0, 148, 205);"><big><big>Contact
Us </big></big></p>
<small><b><span style="font-size: 11pt;">MPH
Course
Coordinator <o:p></o:p></span></b>
<br />
<span style="font-size: 11pt;">Admissions
Office<o:p></o:p><br />
Jodhpur School
of Public Health<o:p></o:p><br />
A Unit of Jodhpur
National University<o:p></o:p><br />
Narnadi, Jhanwar
Road, <o:p></o:p><br />
Jodhpur,
Rajasthan <o:p></o:p></span><br />
<span style="font-size: 11pt; font-family: Arial;">Tel No :<o:p></o:p></span><br />
<span style="font-size: 11pt; font-family: Arial;">Email:<span style="color: rgb(40, 32, 208);"> </span></span><a style="font-family: Arial;" href="mailto:jsph@jnu.edu.in"><b><span style="font-size: 11pt; color: rgb(40, 32, 208);">jsph@jnu.edu.in</span></b></a><b style="font-family: Arial;"><u><span style="font-size: 11pt; color: rgb(40, 32, 208);"></span></u></b><br style="font-family: Arial;" />
<span style="font-size: 11pt; font-family: Arial;">Or
visit us at<o:p></o:p></span><a style="font-family: Arial;" href="http://www.mph.jodhpurnationaluniversity.com/"><b><span style="font-size: 11pt; color: rgb(0, 51, 204);">
www.mph.jodhpurnationaluniversity.com</span></b></a></small>
<p></p>
<br />
<br />

</div>