<div id="content123">
<p class="text" style="color: rgb(0, 148, 205);"><big><big>Courses
offered</big></big></p>
<table style="border: 1px solid rgb(204, 204, 204); text-align: left; width: 100%; height: 428px; background-color: rgb(153, 153, 153);" border="0" cellpadding="1" cellspacing="1">
<tbody>
<tr>
<td style="font-weight: bold; color: rgb(102, 102, 102); text-align: left; height: 92px; background-color: white;">Semester
I</td>
<td style="color: rgb(102, 102, 102); text-align: left; height: 92px; background-color: white;">
<div style="margin-left: 40px;">•&nbsp;&nbsp;&nbsp;
Determinants of Health and Disease<br />
•&nbsp;&nbsp;&nbsp; Health Education and Promotion<br />
•&nbsp;&nbsp;&nbsp; Introduction to Public Health Systems\<br />
•&nbsp;&nbsp;&nbsp; Epidemiology I<br />
•&nbsp;&nbsp;&nbsp; Biostatistics I</div>
</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: left; height: 119px; background-color: white;">Semester
II<br />
</td>
<td style="text-align: left; height: 119px; background-color: white;">
<div style="margin-left: 40px;">•&nbsp;&nbsp;&nbsp;
Fundamentals of Demography<br />
•&nbsp;&nbsp;&nbsp; Quantitative Research Methods I<br />
•&nbsp;&nbsp;&nbsp; Introduction to Health Economics<br />
•&nbsp;&nbsp;&nbsp; Introduction to Health Policy<br />
•&nbsp;&nbsp;&nbsp; Epidemiology II<br />
•&nbsp;&nbsp;&nbsp; Biostatistics II<br />
•&nbsp;&nbsp;&nbsp; Ethics in Public Health and Research</div>
</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: left; height: 106px; background-color: white;">Semester
III</td>
<td style="text-align: left; height: 106px; background-color: white;">
<div style="margin-left: 40px;">•&nbsp;&nbsp;&nbsp;
Quantitative Research Methods II<br />
•&nbsp;&nbsp;&nbsp; Epidemiology of Infectious Diseases<br />
•&nbsp;&nbsp;&nbsp; Public Health Preparedness and
Emergency Response<br />
•&nbsp;&nbsp;&nbsp; Gender and Equity in Health<br />
•&nbsp;&nbsp;&nbsp; Environmental &amp; Occupational
Health &amp; Safety<br />
•&nbsp;&nbsp;&nbsp; Monitoring and Evaluation</div>
</td>
</tr>
<tr>
<td style="font-weight: bold; text-align: left; height: 92px; background-color: white;">Semester
IV</td>
<td style="text-align: left; height: 92px; background-color: white;">
<div style="margin-left: 40px;">•&nbsp;&nbsp;&nbsp;
Management of health Programs <br />
•&nbsp;&nbsp;&nbsp; Epidemiology of Non-communicable
Diseases<br />
•&nbsp;&nbsp;&nbsp; Health Systems Strengthening<br />
•&nbsp;&nbsp;&nbsp; Public Health Practice<br />
•&nbsp;&nbsp;&nbsp; Thesis</div>
</td>
</tr>
</tbody>
</table>
</div>