<div id="content123">

<p class="text" style="color: rgb(0, 148, 205);"><big><big>Postgraduate
Programme </big></big></p>
<p class="text"> Advancing knowledge and training for
future of healthcare in an ever-changing environment.</p>
<p>An important feature of the health transition in Asia is the
emergence of a double burden of infectious and increasing
non-communicable diseases. The current health care delivery service
with over reliance on physician-led diagnosis and management of
diseases is appropriate for acute infectious and nutritional diseases.
However, it may not be adequate for the emerging health challenges of
the continent: the double burden of infectious and increasing
non-communicable diseases. Preparing non-physician, health leaders is
one of the responses to the current situation as greater investments in
prevention and human resource development to manage such interventions
are required.<br />
<br />
The Jodhpur School of Public Health (JSPH) recognizes the high cost of
health disparities and inequities - and their impact on the health
status of individuals, communities and nations. JSPH on a larger scale
will contribute to the reorganization of primary health-care services,
to the integrated prevention and management of diseases, through
research and training. Such contributions also include enhancing the
human resources capacity to allow more tasks to be done by alternative
cadres of health workers.</p>

</div>