<div id="content123">

<p class="text" style="color: rgb(0, 148, 205);"><big><big>Programme
Overview </big></big></p>
<p>The MPH degree programme has been offered in the Faculty of
Medicine and Health since 2008 as a multidisciplinary public health
degree. . Our MPH programme offers students an integrative,
interdisciplinary strategy to address population and health care needs
through instruction, research and service.<br />
<br />
The MPH Degree is a demanding, interdisciplinary programme emphasizing
active, student-directed learning, problem solving and the acquisition
of skills essential to the practice of public health environment.</p>
<br />
<p class="text" style="color: rgb(0, 148, 205);"><big><big>JSPH
faculty </big></big></p>
<p>National and international experts in a variety of public
health
disciplines are prepared to help students apply their newfound
knowledge and skills to “real world” problems, especially through
capstone projects and collaborative partnerships.</p>
<br />
<p class="text" style="color: rgb(0, 148, 205);"><big><big>Core
Competencies</big></big></p>
<ul>
<li>Our curriculum is organized around five core disciplines:
Bio Medical
aspects of health, epidemiology, social and behavioural aspects of
health, health policy and management, and health research. Within this
core disciplines, the following are the thrust areas of the
programme.For both Indian and International student, the curriculum is
designed to cultivate competencies in the core areas of:
</li>
</ul>
<ul style="margin-left: 40px;">
<li>1. Biostatistics and Quantitative Methods</li>
<li>2. Epidemiology</li>
<li>3. Health Systems Strengthening </li>
<li>4. Social and Behavioral Sciences</li>
<li>5. Healthcare Policy</li>
<li>6. Bioethics</li>
<li>7. Health Promotion and Disease Prevention</li>
</ul>
<br />
<br />
<p class="text" style="color: rgb(0, 148, 205);"><big><big>Degree
Requirements</big></big></p>
<p>The program is taught as a series of courses spread over four
semesters over a two-year period. Candidates will need to complete 22
courses each curse of 3 credits, a total of 66 credits, a Master’s
thesis and a comprehensive oral exam. Special emphasis is placed on
practical training, with the requirement of a significant practicum
experience in population-based health. The thesis and assignments
provides the opportunity for students to synthesize, integrate and
apply their new skills and competencies to public health problems.
Courses are taught in a blended platform of in-class contact hours of 2
Weeks, complemented by distance learning. </p>
<div class="clear"></div>

</div>